{{ define "main" }}
<div class="top-banner-bg-paylove-forward">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" id="sub-menu-sticker" style="background-color:#179E7E;border:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<header style="text-align:center; background-image: url('/img/bluegreenball.png');background-repeat: no-repeat;background-position: 90% -60px;padding:30px">
    <br>
    <br>
    <h1 class="center" style="font-weight: bold;color:#006738;">/ {{ .Title }} /</h1>
</header>

<div class="columns is-multiline" style="padding:5% 15%">
    {{range $box := .Params.blogs}}
    <div class="column is-half center">
        <div style="border:1px solid {{$box.color}}">
            <div style="padding:20px">
                <img src="{{$box.logo}}" alt="{{.Title}}">
            </div>
            <div style="background-color:{{$box.color}};padding:15px 25px;color:white">
                <div style="padding:20px;font-size:14pt">
                    {{ $box.description }}
                </div>
                {{ if or (not (eq $box.readmore "")) ($box.readmore) }}
                <a class="button outline" style="background-color:{{$box.color}};color:white;font-size:24pt;padding:0% 15%" href="{{$box.readmore}}">查看更多</a>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}
