{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" id="sub-menu-sticker" style="background-color:#00A74F;border:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<div style="text-align:center; background-image: url('/img/greenball.png');background-repeat: no-repeat;background-position: 90% -60px;">
    <section class="section"> 
        <h2 class="bold content-title">/{{ .Title }}/</h2> 
    </section> 
    <div class="section columns founder-intro-container">
        <div class="column is-offset-2 is-narrow">
            <img src="/img/wahshan.jpg">
        </div>
        <div class="column is-5 content">
            <h2 style="color:white">{{.Params.founder_name}}</h2>
            <p>{{.Params.bio}}</p>
        </div>
        <div class="column"></div>
    </div>

    <div class="section container content">
        {{ .Content }}
    </div>

    <div class="section columns is-centered">
        <div class="column is-5">
            <div class="columns is-gapless">
                <div class="column" style="background-color: #00A74F; position:relative">
                    <div class="founder-column">
                        <div class="founder-column-title">華山隨筆</div>
                        <a href="{{.Params.huashan_essay_link}}">
                            <div class="founder-read">查看</div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <img width=100% src="/img/blog.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-5">
            <div class="columns is-gapless">
                <div class="column" style="background-color: #77CABC; position: relative">
                    <div class="founder-column">
                        <div class="founder-column-title">書刊</div>
                        <a href="{{.Params.book_link}}">
                            <div class="founder-read">查看</div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <img width=100% src="/img/book.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <a href="https://www.facebook.com/wahshan.chou">
            <img src="/img/fb.jpg">
        </a>
    </div>
</div>
</article>
{{ end }}