{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" id="sub-menu-sticker" style="background-color:#00A74F;border:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<div style="text-align:center; background-image: url('/img/greenball.png');background-repeat: no-repeat;background-position: 90% -60px;">
    <section class="section"> 
        <h2 class="bold content-title">/{{ .Title }}/</h2> 
    </section> 
    <div class="container content">
        {{ .Content }}
    </div>

    <div class="title-gradient-background">
        <h2 class="letter-space-wide" style="font-size:26pt;margin: 0;padding: 10px 0 10px 0;color:white;">{{ .Params.director_broad_title }}</h2>
    </div>

    <div class="section">
        <div>
            {{ range where .Data.Pages "Params.place" "d1" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "d2" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}}
        </div>
        <div>
            {{ range where .Data.Pages "Params.place" "d3" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "d4" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "d5" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}}
        </div>
    </div>

    <br>
    <div class="title-gradient-background">
        <h2 class="letter-space-wide" style="font-size:26pt;margin: 0;padding: 10px 0 10px 0;color:white;">{{ .Params.exe_committee_title }}</h2>
    </div>
    <div class="section">
        <div>
            {{ range where .Data.Pages "Params.place" "t1" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "t2" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "t3" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}}
        </div>

        <div>
            {{ range where .Data.Pages "Params.place" "t4" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}} {{ range where .Data.Pages "Params.place" "t5" }}
            <figure style="display: inline-block;">
                <a href="{{ .URL }}" style="color:black">
                    <img src="{{ .Params.img }}">
                    <figcaption style="font-size:16pt;font-style:normal">{{ .Params.position }}</figcaption>
                    <figcaption style="font-size:24pt;font-style:normal">{{ .Title }}</figcaption>
                </a>
            </figure>
            {{end}}
        </div>
    </div>

</div>
</article>
{{ end }}