{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle" . }}
</div>

<div class="tab">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<div style="text-align:center;">
    <div style="position: relative">
        <img style="position: absolute;top:-60px;z-index: -1;right: 100px;" src="/img/greenball.png">
    </div>
    <br>
    <br>
    <br> {{ .Content }}
</div>
</article>
{{ end }}