{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" id="sub-menu-sticker" style="background-color:#00A74F;border:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<div style="text-align:center; background-image: url('/img/greenball.png');background-repeat: no-repeat;background-position: 90% -60px;">
    <br>
    <br>
    <br>
    <h2 class="bold content-title"> / 董 事 局 與 總 幹 事 團 隊 /</h2>
    <br>
    <div style="text-align:center; width:100%; ">
    <p style="font-size:14pt;width:60%;margin:0 20%">董事局的責任是制定DP的長、中、短期目標和計劃，落實DP的願景和使命，為義工提供多元化的優質培訓，創造有愛有力的專業義工團隊並穩健發展。董事以身作則，弘揚清淨貢獻、Pay It Forward精神，創造細水長流社群的典範。</p>
    </div>
    <br>
    
    <div class="title-gradient-background center">
    <h2 style="font-size:26pt;margin: 0;padding: 10px 0 10px 0;color:white;">董 事 局</h2>
    </div>

<div class="columns" style="margin:0 20%">
    <div class="column is-two-fifths">
        <img src="{{.Params.img}}" alt="{{ .Title}}"><br>
            <font>{{ .Params.position}}</font><br>
            <font class="font-bold" size="5.2rem">{{ .Title}}</font>
    </div>
    <div class="column ">
        <br>
<p style="font-size:14pt;">{{.Params.intro}}</p>
    </div>
</div>



</div>





<!-- markdownify -->
</article>
{{ end }}