	<div class="desktop-footer menu green-background" role="nav" style="border: none; padding: 5% 15%; height:100%">
		<div class="columns is-centered" style="text-align:left; table-layout: fixed; margin: 0;width: 100%">
			
			{{ $currentPage := . }}
			{{ $menus := .Site.Menus }}
			{{ range .Site.Menus.main }}
				{{ $menuName := .Name }}
				{{ $mainTitle := .Identifier }}
				{{ range $menuTitle, $menuContent := $menus }}
					{{ if eq $mainTitle $menuTitle}}
			<div class="column" style="padding:0; vertical-align: top; border-right: 1px solid white">
				<div class="columns" style="margin: 0; width: 100%;">
					<div class="column">
						<span style="color: white" class="bold">{{ $menuName }}</span>
					</div>
				</div>

				{{ range $menuContent }}
				<div class="columns" style="margin: 0; width: 100%;">
					<div class="column">
						<a style="color: white" href="{{.URL}}">{{ .Name | markdownify}}</a>
					</div>	
					
				</div>
				{{end}}
				{{if eq $mainTitle "course"}}
				<div class="columns" style="margin: 0; width: 100%;">
					<div class="column">
						<a style="color: white" href="{{.Site.Params.jc_yrc_link}}"> 賽馬會青年更生<br>教練課程 </a>
					</div>							
				</div>
				{{end}}
				
					{{end}}
				{{end}}
			</div>
			{{end}}
			
		</div>
	</div>
