<!-- <header> -->
<div class="desktop-nav">
	<div style="height:72px"></div>
	<div style="position:fixed; height: 72px; width:100%; top:0; background:white; z-index: 101;">
		<div style="height: 72px; line-height: 72px; width:100%; text-align:center;">
			{{if not .IsHome}}
			<div class="desktop-hamburger" style="position:absolute; left:1%">
				<img src="/img/hamburger.svg">
			</div>
			{{end}}


			<div style="height: 100%; width: 80%; position:  absolute; margin:0 10%;">
				<a href="{{ $.Site.BaseURL }}">
					<img style="height:80%" src="{{ .Site.Params.dpicon }}">
				</a>
			</div>
			<div style="float: right; vertical-align: middle; padding: 0 2% 0 0">
				<img style="height:50%" src="{{ .Site.Params.fbicon }}">
			</div>
			<div style="float: right; vertical-align: middle; padding: 0 0.5%">
				<img style="height:50%" src="{{ .Site.Params.youtubeicon }}">
			</div>

		</div>
		<div class="desktop-showMenu" style="display: none;">
			{{ partial "navigation" . }}
		</div>
	</div>
</div>
<!-- Only for mobile -->
<div class="mobile-nav" style="position:relative">
	<div style="height:72px"></div>
	<div style="position:fixed; height: 72px; width:100%; top:0; background:white; z-index: 101;">
		<div style="height: 72px; line-height: 72px; width:100%; text-align:center;">
			{{if not .IsHome}}
			<div class="mobile-hamburger" style="position:absolute; left:1%">
				<img src="/img/hamburger.svg">
			</div>
			{{end}}


			<div style="height: 100%; width: 80%; position:  absolute; margin:0 10%;">
				<a href="{{ $.Site.BaseURL }}">
					<img style="height:80%" src="{{ .Site.Params.dpicon }}">
				</a>
			</div>
			

		</div>
		
	</div>
		<div class="mobile-showMenu light-green-background" style="display: none;">
			
			<!-- loop of menu  -->
			{{ $menus := .Site.Menus }} {{ if $menus }}
			<div >

		{{ range .Site.Menus.main }}
				{{ $menuName := .Name }}
				{{ $mainTitle := .Identifier }}
				{{ range $menuTitle, $menuContent := $menus }}
					{{ if eq $mainTitle $menuTitle}}
					{{$len := len $menuContent}}
					<!-- To toggle the submenu -->
				<div id="{{$mainTitle}}" class="mobile-columns-toggle level is-mobile mobile-columns-title" style="box-shadow: 4px 1px 20px 0px white">
					<!-- when only have 1 item, add the href directly to the title -->
					{{if eq $len 1}}
					{{ range first 1 $menuContent }}
					
					<a href="{{ .URL}}" style="width:100%">
					{{ end }}
					{{end}}
						<div class="level-item" style="padding: 0">						
							<div class="mobile-menu-title">{{ $menuName }}</div>		
						</div>
					{{if eq $len 1}}
					</a>
					{{end}}
					<!-- when more 1 item, show the arrow -->
					{{if gt $len 1}}
					<!-- arrow of up and down -->
					<div id="mobile-{{$mainTitle}}-down" class="level-item is-narrow">
						<i class="fa fa-angle-down mobile-menu-arrow" aria-hidden="true"></i>
					</div>
					<div id="mobile-{{$mainTitle}}-up" class="level-item is-narrow" style="display:none">
						<i class="fa fa-angle-up mobile-menu-arrow" aria-hidden="true"></i>
					</div>
					{{ end }}
					
				</div>
				<!-- when more 1 item, show the submenu when click -->
				<div id="mobile-{{$mainTitle}}-sub-menu" class="mobile-sub-menu">
					
					{{if gt $len 1}}
					{{ range $menuContent }}
					<div class="green-background" style="padding: 5% 0">
						<div class="columns" style="width:100%">
							<div class="column is-narrow" style="text-align: left; padding: 2% 0 0 30%;">
								<a href="{{.URL}}">
									<b class ="mobile-menu-text">{{ .Name }}</b>
								</a>
							</div>
						</div> 
					</div>
					{{ end }}
					{{ end }}
				</div>		
					{{end}}
				{{end}}
		{{end}}
			<div>
				<a style="position:fixed; left:85%; top:2.5%; background:white; z-index: 101;" class="mobile-hamburger close"></a>	
			</div>
		</div>
		{{ end }}
		<div class="mobile-columns-title" style="text-align: center; background: #47BFB1">
			<div class="mobile-menu-title"> <img style="filter: brightness(0) invert(1);" src="/img/course_icon.png"> 賽 馬 會 青 年 更 新 <br> 教 練 計 劃</div>
		</div>
		<div class="columns is-mobile is-centered is-variable is-3" style="margin:0">
			<div class="column is-4" >
				<img style="width:100%" src="{{ .Site.Params.fbicon }}">
			</div>
			<div class="column is-4" >
				<img style="width:100%" src="{{ .Site.Params.youtubeicon }}">
			</div>
		</div>
	</div>
	<!-- background -->
	<div class="mobile-menu-background mobile-hamburger"> 
	</div>
	
	
</div>
<!-- </header> -->