<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ " js/index.js " | absURL }}"></script>
<script src="{{ " js/smooth-scroll.min.js " | absURL }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script> {{ range .Site.Params.customJS }}
<script src="{{ . | absURL }}"></script> {{ end }}

<script>
    smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false,
        offset: 125,
    });

</script>
<script>
    hljs.initHighlightingOnLoad();

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>

<script>
    $(document).ready(function () {
        $(".desktop-showMenu").hide();
        $(".desktop-hamburger").click(function () {
            $(".desktop-showMenu").slideToggle("slow");
        });

        $(".mobile-showMenu").hide();
        $(".mobile-menu-background").hide();
        $(".mobile-hamburger").click(function () {
            $(".mobile-showMenu").toggle("slide");
            $(".mobile-menu-background").toggle();
        });

        $(".mobile-sub-menu").hide();

        $(".mobile-columns-toggle").click(function (e) {
            console.log("test");
            console.log(e.target.id);
            var id = e.target.id;
            if (id == "") {
                id = e.target.parentElement.id;
                console.log(id.substring(0,6));
                if (id == "" || id.substring(0,6) == "mobile") {
                    id = e.target.parentElement.parentElement.id;
                }

            }

            $("#mobile-" + id + "-sub-menu").slideToggle("fast");
            $("#mobile-" + id + "-down").toggle();
            $("#mobile-" + id + "-up").toggle();
        }
        )

    });
    function toggleSubMenu(id) {
        console.log(id);
        var subMenu = document.getElementById("mobile-" + id + "-sub-menu");
        var down = document.getElementById("mobile-" + id + "-down");
        var up = document.getElementById("mobile-" + id + "-up");

        if (subMenu.style.display === "none") {
            subMenu.style.display = "block";
        } else {
            subMenu.style.display = "none";
        }

        if (up.style.display === "none") {
            up.style.display = "block";
        } else {
            up.style.display = "none";
        }

        if (down.style.display === "none") {
            down.style.display = "block";
        } else {
            down.style.display = "none";
        }
    }
</script>

<script>
    $(window).ready(function () {
        $("#sub-menu-sticker").sticky({ topSpacing: 72, center: true, zIndex: 100 });
    });

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77064016-5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-77064016-5');

</script>

<!-- for faq -->
<script>
    var action = 'click';
    var speed = "500";
    $(document).ready(function () {

        $('li.q').on(action, function () {

            $(this).next().slideToggle(speed)


                .siblings('li.a').slideUp();

            // Grab img from clicked question
            var img = $(this).children('img');

            // remove Rotate class from all images except the active
            $('img').not(img).removeClass('rotate');

            // toggle rotate class
            img.toggleClass('rotate');
        });
    });

</script>

<!-- for timetable -->
<script>
    var active = '';
    $(document).ready(function () {

        $('button.s').on('click', function (e) {
            // $('#' + e.target.id + '_content').addClass('h');
            if (active != "") {
                $('#' + active).toggleClass('h');

            }
            console.log("event: " + e.target.id);
            $('#' + e.target.id + '_content').toggleClass('h');
            console.log("now id:" + active)
            active = e.target.id + '_content';

        })
    });

</script>

<!-- contact google map  -->
<!-- <script>
function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script> -->