{{ $menus := .Site.Menus }} {{ if $menus }}
<div class="menu green-background" role="nav">
    <div class="row" style="padding: 0 10%">
            {{ range $menuTitle, $menuContent := $menus}} {{ range $path := first 1 $menuContent }}
            <div class="nav col-2">
                <a href="{{ $path.URL}}">
                    <div class="menu-image" style="position: relative">
                        <span class="text-overlay">{{ $menuTitle }}</span>
                        <img width="100%" src="img/1.png">

                    </div>
                </a>
            </div>

            {{ end }}
            <!-- <ul>
                    {{ range $menuContent }}
                        <li class="nav nav-current"><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{end}}
                </ul> -->
            {{end}}
    </div>

</div>
{{ end }}