{{ $menus := .Site.Menus }} {{ if $menus }}
<div class="menu green-background" style="height: 100%" role="nav">
    <div class="columns" style="margin: 0 10%">
        {{ range .Site.Menus.main }} {{ $menuName := .Name }} {{ $mainTitle := .Identifier }} 
        {{ range $menuTitle, $menuContent := $menus }} {{ if eq $mainTitle $menuTitle}} {{ range first 1 $menuContent }}
        <div class="nav column" style="padding: 0">
            <a href="{{ .URL}}" style="width: 100%">
                <div style="position: relative">
                    <b class="text-overlay">{{ $menuName }}</b>
                    <div class="menu-image" >                        
                        <img width="100%" src="{{$.Site.BaseURL}}/img/{{$menuTitle}}_btn.jpg">
                    </div>
                </div>
            </a>
        </div>

        {{ end }} {{end}} {{end}} {{end}}
    </div>

</div>
{{ end }}