{{ $menus := .Site.Menus }} {{ if $menus }}
<div class="menu green-background" style="height: 100%;" role="nav">
    <div class="columns is-gapless" style="margin: 0 10%;">
        {{ range .Site.Menus.main }} {{ $menuName := .Name }} {{ $mainTitle := .Identifier }} 
        {{ range $menuTitle, $menuContent := $menus }} {{ if eq $mainTitle $menuTitle}} {{ range first 1 $menuContent }}
        <div class="nav column navigation-padding-column">
            <a href="{{ .URL}}" style="width: 100%">
                <div class="navigation-container">
                    <b class="text-overlay">{{ $menuName }}</b>
                    <div class="menu-image is-hidden-mobile">                        
                        <img width="100%" src="{{$.Site.BaseURL}}/img/{{$menuTitle}}_btn.jpg">
                    </div>
                </div>
            </a>
        </div>

        {{ end }} {{end}} {{end}} {{end}}
        <div class="columns is-hidden-tablet is-mobile is-centered is-variable is-3" style="margin:0 auto;">
            <div class="column is-3 text-center">
                <a href="{{ .Site.Params.youtubelink}}" target="_blank">
                    <img style="width:80%" src="/img/youtube_icon.svg">
                </a>
            </div>
            <div class="column is-3 text-center">
                <a href="{{ .Site.Params.fblink}}" target="_blank">
                    <img style="width:80%" src="/img/fb_icon.svg">
                </a>
            </div>
        </div>
    </div>

</div>
{{ end }}