{{ partial "head" . }}

<body class="home-template">
    {{ partial "header" . }}

    <main class="content" role="main" style="margin-bottom: 0;">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {{ range $i,$conten := .Site.Params.headerbanner}}
                <li data-target="#homeCarousel" data-slide-to="{{$i}}" class="{{if eq $i 0}} active {{end}} carousel-indicators-style"></li>
                {{ end }}
            </ol>
            <div class="carousel-inner" role="listbox">
                {{ range $i,$conten := .Site.Params.headerbanner}}
                <div class="carousel-item {{if eq $i 0}} active {{end}}">
                    <div style="width:100%">
                        <a href="{{ .targetUrl}}">
                            <img style="width:100%" class="d-block img-fluid" src="{{.path}}" alt="{{.alt}}">
                        </a>
                        </div>
                </div>
                {{ end }}
            </div>
            <a style="width:3%" class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                <div class="carousel-control-left">
                    <span style="height: 80%; margin: 5% 0;" class="carousel-control-prev-icon" aria-hidden="true"></span>
                </div>
                <span class="sr-only">Previous</span>
            </a>
            <a style="width:3%" class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                <div class="carousel-control-right">
                    <span style="height: 80%; margin: 5% 0;" class="carousel-control-next-icon" aria-hidden="true"></span>
                </div>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>
    {{ partial "navigation" . }} {{ partial "footer" . }} {{ partial "js" . }}
</body>

</html>