{{ define "main" }}

<div class="top-banner-bg-lifegrow">
    {{ partial "topbannertitle" . }}
</div>

<div class="tab" style="background-color:#1A91BA;border:0px" id="sub-menu-sticker">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}} {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<header>
    <br><br>
    <h1 class="center" style="font-weight: bold;color:#006738">/ {{ .Title }} /</h1>
    <div class="post-meta">
    </div>
    <br><br><br>
</header>

<div class="columns center" style="width:100%;background-color:#C5E6DC;padding:30px">
    <div class="column is-one-third">
        <img width="100%" src="{{.Params.img}}">
    </div>
    <div class="column" style="font-weight:bold;font-size:24px;text-align:left">
        日期： {{.Params.workshopDate}}
        <br>
        時間： {{.Params.time}}
        <br>
        地點： {{.Params.place}}
        <br>
        導師： {{.Params.tutor}}
        <br><br>
        {{.Params.remarks}}
        <br><br>
        <a class="button" style="color:white;background-color:#006738;padding:0% 12%" href="{{.Params.registerlink}}">報名</a>
    </div>
</div>

<div class="center" style="font-size:14px;padding:75px 25%">
    {{ .Content }}
</div>

<!-- <article class="post"> -->

    <!-- <section class="post-content">
        {{ .Content }}
    </section> -->

    <!-- {{ if .Type | eq "post" }}
    <section class="post-tags" style="padding-bottom:60px;">
        <div class="post-meta tags">
            <i class="fa fa-fw fa-tag"></i>
            {{ range .Params.tags }} {{ $url := printf "tags/%s" ( . | urlize) }}
            <a href="{{ $url | absURL }}">{{ . }} </a>
            {{ end }}
        </div>
    </section>

    {{ template "_internal/disqus.html" . }} {{ partial "share" . }}

    <footer class="post-footer">
        {{ partial "author" . }}
    </footer>
    {{ end }} -->
<!-- </article> -->
{{ end }}