{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" id="sub-menu-sticker" style="background-color:#00A74F;border:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button>
    {{end}} {{end}}{{end}}
</div>

<div style="text-align:center; background-image: url('/img/contact/green_flower.png');background-repeat: no-repeat;background-position: 90% -100px;">
    <br>
    <br>
    <br> {{ .Content }}
</div>
</article>
{{ end }}