{{ define "main" }}
<div class="top-banner-bg-aboutus">
    {{ partial "topbannertitle-eng" . }}
</div>

<div class="tab" style="background-color:#00A5A4; border:0px;padding:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button> {{end}} {{end}}{{end}}
    <a href="http://jockeyclubyrs.dreamspossible.hk/">
        <button class="courseTitle-button">
            <img src="/img/JCicon.png"> 賽馬會青年更生教練課程
        </button>
    </a>
</div>

<div style="text-align:center; background-image: url('/img/greenball.png');background-repeat: no-repeat;background-position: 90% -60px;">
    <section class="section">
        <h2 class="bold content-title">/{{ .Title }}/</h2>
    </section>
    <section class="section">
        <div class="container faq is-fluid">
            {{ .Content }}
        </div>
    </section>
</div>
</article>

<!-- for faq -->
<script>
    $(document).ready(function () {

        var action = 'click';
        var speed = "500";
        var currentActiveQuestion;

        $('.faq>ul>li').on(action, function () {

            if (currentActiveQuestion) {
                console.debug("Reset pervious %s", currentActiveQuestion)
                currentActiveQuestion.children('ul').slideToggle(speed).slideUp();
            }

            currentActiveQuestion = $(this)
            currentActiveQuestion.children('ul').slideToggle(speed).slideDown();
            currentActiveQuestion.children('p').toggleClass('rotate');

        });
    });

</script> {{ end }}