{{ define "main" }}
<!-- {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
        {{ .Render "summary" }} 
    {{ end }}
    {{ partial "pagination" . }} -->
<div class="top-banner-bg-course">
    {{ partial "topbannertitle-eng" . }}
</div>
<div class="tab" style="background-color:#00A5A4; border:0px;padding:0px">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button> {{end}} {{end}}{{end}}
    <a href="http://yrc.dreamspossible.hk/">
        <button class="courseTitle-button">
            <img src="/img/JCicon.png"> 賽馬會青年更生教練課程
        </button>
    </a>
</div>
<div class="course-flower">
    <h1 class="sub-title center">/課程時間表/</h1>
    <div class="columns timetable">
        <div class="column is-3 is-offset-3 center">
            {{ range $index, $p := .Data.Pages }}
            <button id="{{.Title}}" style="margin:5px 100px" class="font-bold course-button s overflow {{if eq $index 0}} start-up-active {{end}}">
                {{$p.Title}}
            </button>
            {{end}}
        </div>
        {{ range .Data.Pages }}
        <div id="{{.Title}}_content" class="column is-3 h course-detail">
            {{.Content}}
        </div>
        {{end}}
    </div>
</div>
{{ end }}