{{ define "main" }}

<div class="top-banner-bg-course">
    {{ partial "topbannertitle" . }}
</div>

<div class="tab" id="sub-menu-sticker">
    {{$section := .Section}} {{ $menus := .Site.Menus }} {{ range $menuTitle, $menuContent := $menus }} {{if eq $menuTitle $section}}
    {{range $menuContent}}
    <button onclick="location.href='{{.URL}}'">{{ .Name }}</button> {{end}} {{end}}{{end}}
</div>

    <header>
        <br>
        <br>
        <h1 class="center" style="font-weight: bold;color:#006738;">/{{ .Title }}/</h1>
        <div class="post-meta">
            <!-- <time datetime="{{ .Date.Format " 02 January 2006 " }}">
                {{ .Date.Format "02 January 2006" }}
            </time> -->
        </div>
    </header>

    <section style="margin-bottom:0px" class="post-content">
        <div style="position: relative">
            <img style="    position: absolute;
            top: -188px;
            z-index: 1;
            right: -284px;
            height: 320px;" src="/img/flower.png">
        </div>
        {{ .Content }}
    </section>

    {{ if .Type | eq "post" }}
    <section class="post-tags" style="padding-bottom:60px;">
        <div class="post-meta tags">
            <i class="fa fa-fw fa-tag"></i> {{ range .Params.tags }} {{ $url := printf "tags/%s" ( . | urlize) }}
            <a href="{{ $url | absURL }}">{{ . }} </a> {{ end }}
        </div>
    </section>

    {{ template "_internal/disqus.html" . }} {{ partial "share" . }}

    <footer class="post-footer">
        {{ partial "author" . }}
    </footer>
    {{ end }}

{{ end }}